@import './variables';

@font-face {
    font-family: "tajwalFont";
    src: url(../fonts/Tajawal-Regular.ttf);
}

body {
    font-family: "tajwalFont", 'Cambria, Cochin, Georgia, Times, Times New Roman, serif' !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-x: hidden;
}

.icon {
    border: 1px solid $muted-color;
    width: 45px;
    height: 40px;

    &:hover,
    &:active,
    &:focus {
        color: $main-color !important;
        border: 1px solid $main-color;
        background-color: $bg-color !important;
        box-shadow: 0px 1px 7px 0px #a9a9a9;
        cursor: pointer;
    }
}

.title {
    color: $main-color;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 30px;
}

.top-menu {
    .navbar {
        font-weight: 600;
        padding: 3px 100px !important;
        // background-color: #FFF !important;
    }

    .logo-name {
        color: $main-color;
        font-weight: 500;
    }

    .navbar-nav {
        li>a {
            transition-property: background-color;
            transition-duration: 0.5s;

            &:hover,
            &:active,
            &:focus {
                color: $main-color !important;
                background-color: $bg-color;
                border-bottom: 1px solid $main-color;
                cursor: pointer;
            }
        }
    }

    .active a {
        color: $main-color !important;
        border-bottom: 1px solid $main-color;
    }
}

.carousel-top {
    .row {
        display: block !important;
    }

    .carousel {
        .carousel-item {
            img {
                height: 525px;
            }

            .overlay {
                position: absolute;
                background-color: rgba(65, 155, 155, 0.5);
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;

                display: flex !important; // للتحكم في موقع الكلام
                flex-flow: column; // لترتيب العناصر عمودياً
                align-items: center; // التوسيط بشكل افقي 
                justify-content: center; // التوسيط بشكل عمودي
                z-index: 1;
            }
        }

        .custom-top-indicators {
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 20px 5px 30px 0px;

                &.active {
                    background-color: $main-color;
                }
            }
        }

        .carousel-caption {
            h1 {
                font-weight: bold;
                color: white;
                margin-bottom: 50px;
            }

            h4 {
                width: 60%;
                color: $bg-color;
                line-height: 2em;
            }
        }

    }
}

.features {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;

    .img {
        max-width: 100%;
        overflow: hidden;
    }

    .features-overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;

        padding: 30px;
        color: $bg-color;
        font-weight: bold;
        font-size: 130%;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:hover {
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
    }
}

.library {

    .title {
        padding-top: 30px;
    }

    .container-fluid {
        margin: 0 6% 0;

        .custom-books-indicators {
            position: static;

            li {
                background-color: #dbdbdb;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 2px;

                &.active {
                    background-color: $main-color;
                }
            }
        }

        .card {
            border: 2px solid #EEF0EA;
            margin: 20px 5px 20px;
            padding: 4px;
            transition: transform .5s;


            &:hover {
                cursor: pointer;
                border-color: #fd9bcc;
                transform: translateY(-.8%);
            }

            img {

                height: 60%;
                overflow: hidden;
            }

            .card-body {
                padding: 4%;
            }

            .card-title {
                font-size: 100%;
                width: 100%;
                text-align: center;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .price {
                color: $main-color;
            }

            .rating {
                color: #C2C2C2;
            }

            .rating .active {
                color: #f3af41;
            }

            .overlay {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                height: 94%;
                width: calc(100% - 8px);
                display: block;
                opacity: 0;
                transition: all .3s ease;

                &:hover {
                    opacity: 1;
                }
            }

            .custom-cart-icon {
                width: 62%;
                font-size: 90%;
                height: 40px;
                margin-left: 20%;
                margin-right: 20%;
                font-weight: bold;
                border: 0;
            }

            #btn-cart {
               margin-top: 2%;
            }
            #btn-more {
                margin-top: 40%;
             }
        }
    }
}

@media (max-width: 576px) {

}

@media (max-width: 991px) {
    .top-menu {
        .navbar {
            padding: 20px 60px !important;

            .navbar-nav {
                a {
                    border-bottom: none !important;
                    padding-right: 5px;
                }
            }
        }
    }
}