@import './variables';

@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", 'Cambria, Cochin, Georgia, Times, Times New Roman, serif' !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-x: hidden;
}

.top-menu {
    .navbar {
        font-weight: 600;
        padding: 7px 100px !important;
        background-color: #FFF !important;
    }

    .logo-name {
        color: $main-color;
        font-weight: 500;
    }

    .navbar-nav {
        li>a {
            transition-property: background-color;
            transition-duration: 0.5s;

            &:hover,
            &:active,
            &:focus {
                color: $main-color !important;
                background-color: $bg-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }

    .cart-icon {
        border: 1px solid $muted-color;

        &:hover,
        &:active,
        &:focus {
            border: 1px solid $main-color;
            background-color: #FFF !important;
        }
    }

    .active a {
        color: $main-color !important;
        border-bottom: 1px solid $main-color;
    }
}